# Dependências para execução do módulo ANN2SNN (SpikingJelly + PyTorch)
torch>=1.13.0
torchvision>=0.14.0
spikingjelly>=0.0.0.0.14
numpy>=1.21.0

# Monitoramento de Consumo Energético e Emissões
carbontracker>=1.1.0
pynvml>=11.4.1
psutil>=5.9.0
